// form {
//   display: flex;
//   flex-direction: column;
//   gap: 1rem;

//   input, select, textarea {
//     padding: 0.5rem;
//     width: 100%;
//   }

//   .child-block {
//     border: 1px solid #ccc;
//     padding: 1rem;
//     margin-bottom: 1rem;
//   }
// }

:root {
  --logo-green: #8EC560;
  --logo-green-light: #9CC870;
  --logo-blue: #2F8CCF;
}

